* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

img, video {
	vertical-align: middle;
}

body {
	background: linear-gradient(to right, #8e2de2, #4a00e0);
	font-family: Arial;
}

.clear {
	clear: both;
}

.callOrAnswer {
	width: 400px;
	margin: 50px auto;

}

.callOrAnswer ul li {
	float: left;
	width: 50%;
	text-align: center;
}
.callOrAnswer ul li a {
	padding: 15px 20px;
	background: #fa3556;
	color: #fff;
	display: block;
	margin: 10px;
	border-radius: 3px;
	font-weight: bold;
}

.callOrAnswer ul li a:hover {
	opacity: 0.8;
}

.form {
	width: 400px;
	margin: 50px auto;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	color: #222;
}

.form label {
	margin-right: 10px;
	display: block;
}

.form input {
	padding: 10px;
	border: 1px solid #ddd;
	display: block;
	width: calc(100% - 20px);
}

.form button {
	padding: 10px;
	cursor: pointer;
	background: #fa3556;
	color: #fff;
	border-radius: 5px;
	border: none;
	margin: 0 auto;
	display: block;
	width: 100px;
	margin-top: 20px;
}

.form button:hover {
	opacity: 0.8;
}

#meVideo {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 200px;
	display: none;
	border: 5px solid #fa3556;
	border-radius: 5px;
}

#remoteVideo {
	background: #000;
	display: none;
}

#sonlandir {
	padding: 10px;
	background: #fa3556;
	position: absolute;
	width: 200px;
	text-align: center;
	left: 50%;
	bottom: 10px;
	margin-left: -100px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	display: none;
}